body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.main-wrapper {
  display: flex;
}
.list-wrapper {
  width: 50%;
  padding: 50px;
  background: #000;
  max-height: calc(100vh - 100px);
  overflow: scroll;
  padding-bottom: 50px;
}
.list-wrapper h2 {
  text-transform: uppercase;
  margin: 0px;
  color: #d98d41;
}
.list-wrapper ul {
  margin: 0px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 15px;
}
.list-wrapper ul li {
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  background: #222;
}
.list-card .image-container {
  height: 75px;
  width: 75px;
  overflow: hidden;
}
.list-card .image-container img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
}
.list-card .info-container {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: calc(100% - 105px);
}

.list-card .info-container h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #f3f5f7;
  font-weight: 300;
}

.list-card:hover .info-container h4,
.list-card.active .info-container h4 {
  color: #d98d41;
}
.list-card .info-container .info-footer {
  display: flex;
  justify-content: space-between;
}
.list-card h4 {
  margin: 0px;
}
.list-card .info-container .info-footer p.by-line {
  margin: 0px;
  font-style: italic;
  color: #907f6d;
  font-size: 12px;
}
.list-card .info-container .info-footer p.published-on {
  margin: 0px;
  color: #8a8e8f;
  font-size: 12px;
}
.list-skeleton {
  height: 75px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

.details-wrapper {
  width: 50%;
  padding: 50px;
  background: #222;
  max-height: calc(100vh - 100px);
  overflow: scroll;
  padding-bottom: 50px;
}
.detail-card {
  overflow-y: auto;
}
.detail-card .image-container {
  position: relative;
}
.detail-card .image-container img {
  width: 100%;
  border-radius: 10px;
}
.section-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #d98d41;
  width: max-content;
  padding: 3px 30px;
  border-radius: 5px;
}
.section-text {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}
.sub-section-text {
  color: #222;
  font-size: 12px;
}

.detail-title {
  margin-top: 0;
  font-size: 18px;
  color: #d98d41;
  font-weight: 800;
}

.detail-info {
  margin: 5px 0;
  font-size: 16px;
}
.detail-info-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}
.detail-info-header .detail-info-published {
  margin: 0px;
  font-style: italic;
  color: #907f6d;
  font-size: 12px;
}
.detail-info-header .detail-info-by-line {
  margin: 0px;
  color: #8a8e8f;
  font-size: 12px;
}
.detail-section {
  margin: 15px 0px;
}
.detail-subtitle {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #7f7e7e;
}

.detail-text {
  margin: 10px 0;
  font-size: 16px;
  color: #f3f5f7;
}

.detail-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.detail-tags .tag {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 15px;
  background-color: #000;
  border-radius: 10px;
  font-size: 12px;
  color: #999;
}
.detail-info-keywords {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
